/* header */
.header{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    background-color: #6b6e2c;
    text-align: center;  
    padding: 40px; 
    margin-bottom:50px; 
}
.h1{
    background-color: #6b6e2c;
    box-shadow: inset 6px 6px 12px 0 rgba(0, 0, 0, 0.25),
        inset -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        padding: 20px;
}

/* table */
table {
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;
}

td {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
}
/* message */
#message {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
    padding-top: 15px;
}

#reset {
    display: block;
    margin: 50px auto;
    box-shadow: inset 12px 6px 12px 0 rgba(0, 0, 0, 0.25);
    background-color: #000000;
    border-radius:5px;
    font-size: 20px;
    color: white;
    padding: 10px;
}
#reset:hover{
    color: white;
    background-color: red;
}