@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); 
*{
    padding: 0;
    margin: 0;
} 

/* header section */
.header{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    background-color: #2c6e38;
    text-align: center;  
    padding: 40px;  
}
.h1{
    background-color: #2c6e38;
    box-shadow: inset 6px 6px 12px 0 rgba(0, 0, 0, 0.25),
        inset -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        padding: 20px;
}

/*  main section */
.container {
    background-color: #2c6e3c;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}
.border {
    top:40%;
    position:absolute;
    background-color: #000000e2;
    align-items: center;
    border-radius: 25px;
    display: flex;
    margin-right: 4rem;
    height: 180px;
    width: 500px;
    padding: 20px;
    bottom: 10%;
    box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    inset -2px -2px 5px 0 rgba(255, 255, 255, 0.3);
}
.clock {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    font-family: Orbitron;
    letter-spacing: 7px;
    align-items: center;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    margin-right: 4rem;
    margin-top: 25px;
    height: 100px;
    width: 420px;
    background-color: #ffffffe0;
    box-shadow: inset 2px  5px 10px 10px rgba(0, 0, 0, 0.25);
}