body{
    background: #eee;
    padding-top: 20px;
    font-family: monospace;
}
.header{
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0px;
    background: purple;
    color: #fff;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
h1{
    border-radius: 20px 20px 0px 0px;
    box-shadow: inset 6px 6px 12px 0 rgba(0, 0, 0, 0.25),
                inset -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 95%;
    text-align: center;
}
.faq-inner {
    padding: 30px;
    background: aliceblue;
}
  
.question {
    margin-bottom: 40px;
    margin-top: 40px;
} 
.answer {
    margin-top: 30px;
    display: none;
}
.faq-wrapper{
    width: 75%;
    margin: 0 auto;
}
.faq-plus{
    float: right;
    font-size: 1em;
    line-height: 1em;
}
.faq-plus:hover{
    color: #9b9b9b  ;
}

.question h2 {
    cursor: pointer;
}
hr{
    background-color: #9b9b9b;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
p{
    font-size: 1.5em;
    color: #0000009b;
}